.application {
  width: auto;
  margin: 100px;
  height: 600px;
  overflow-y: auto;

  background-color: lemonchiffon;

  .container {
    width: 800px;
    height: 1600px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    padding: 0 60px;

    .paragraphe {
      font-size: 18px;
    }

    .editor {
      width: 100%;
      height: 600px;
    }
  }
}

body {
  margin: 0;
  overscroll-behavior: none;
}
