/*
	* VTL rule
	*
*/
if VAR_A = "toto"
	then "première possibilité"
	else "une autre possibilité";
// Fin de ma première règle VTL.

/* Une ligne de commentaire simple doit toujours ce terminer par un saut de ligne, sinon le tokenizer ne la reconnait pas en tant que telle. */
